@model IEnumerable<SuaLiveJA.Models.Evento>

@{
    ViewData["Title"] = "Veja Mais";
}





<section id="home" class="g-py-30 g-pb-80--md">
    <div class="row" style="padding-top: 7%;">
        <h2> Últimos eventos</h2>
        <hr />
      
        <form asp-controller="Eventos" asp-action="Vermais" method="get">
            <div class="col-md-12">
                O que você procura por aqui? <input type="text" name="BuscaEvento" class="form-control" />
            </div>

            <div class="col-md-12">
                Alguma data específica? <input type="date" class="form-control" method="get" name="datax" />
            </div><br />
            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    
    <div class ="masonry-grid row">
        @foreach (var item in Model)
        {

            <div class="masonry-grid-sizer col-sm-1"></div>

            <div class="masonry-grid-item col-md-6 col-lg-4 g-mb-30">
                <article class="g-bg-white">
                    <img class="img-fluid" src="~/../img-temp/800x496/img1.jpg" alt="Image description">

                    <div class="u-shadow-v24 g-pa-30">
                        <header class="g-mb-20">
                            <h4 class="g-font-weight-700 g-font-size-10 g-color-primary g-mb-5">@item.Data_Hora</h4>
                            <h3 class="text-uppercase g-font-weight-700 g-font-size-14 mb-0">
                                <a class="g-theme-color-blue-dark-v2 g-color-primary--hover" href="@item.Link_URL" target="_blank">@item.Descricao</a>
                            </h3>
                        </header>

                        <p class="g-mb-30">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel.</p>

                        <div class="media g-font-weight-600 g-font-size-10 g-theme-color-gray-dark-v1">
                            <div class="d-flex rounded-circle u-bg-overlay g-overflow-hidden g-bg-primary-opacity-0_3--after g-width-40 g-height-40 g-mr-10">
                                <img class="img-fluid rounded-circle" src="~/../img-temp/50x50/img1.jpg" alt="Image description">
                            </div>

                            <div class="media-body align-self-center text-uppercase">by Dorian Gray</div>
                        </div>
                    </div>
                </article>

            </div>
        }
    </div>
</section>

