html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h2.u-heading-v2__title.g-line-height-1.g-letter-spacing-2.g-font-weight-700.g-font-size-30.g-font-size-40--md.g-color-white.mb-0, p.g-color-white-opacity-0_5.mb-0 {
    color: #000 !important;
}

.container.g-mt-minus-200 {
    display: grid;
    align-content: space-around;
    justify-items: stretch;
    align-items: stretch;
    justify-content: end;
}